main{
    background-color:rgb(122,74,218);
    font-size:15px;
    color:white;
    width:700px;
    padding: 20px;
    text-align: left;
    border-radius:5px;
    margin: 60px auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
img{
    width:200px;
    margin-top:15px;
}
h1{
    margin-top:40px;
    font-size:52px;
    text-align:center;
    color:rgb(88,49,196);
}
a{
    background-color:rgb(255,237,177);
    color:rgb(141, 1, 146);
    border-radius:4px;
    text-decoration:none;
    padding: 2px 6px;

}

ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
li{
    margin:14px 0;
    padding-left:10px;
    border-left: 5px solid transparent;
}
.extra-important{
    color:rgb(255,237,177);
    border-color: rgb(247,209,85);
}
footer{
    font-size:14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
footer p{
    color:rgb(131,113,149);
    margin-top:30;
}
footer a{
    background-color:rgb(243, 190, 17);
    padding:15px 10px;
    color: rgb(58, 34, 108);
    border-radius:8px;
}
footer a:hover{
    background-color:rgb(226, 186, 54);
}
footer a:active{
    background-color:rgb(226, 186, 54);
}